<section class="contact-us-wrapper row  bg-white ">
   <div class="mx-auto gap-3 py-3 d-flex flex-wrap justify-content-center align-items-center">
    <div class="col-md-5 d-flex flex-column">
        <div class="d-flex">
            <p-tag [value]=" 'Tel:' " [severity]="'success'" class="mr-2" />
            <p-tag [value]=" '+91 8491015362 ' " [severity]="'success'" class="mr-2" />

        </div>
        <div class="d-flex">
            <p-tag [value]=" 'Tel:' " [severity]="'success'" class="mr-2" />
            <p-tag [value]=" '+91 8491015362 ' " [severity]="'success'" class="mr-2" />

        </div>
        <div class="d-flex">
            <p-tag [value]=" 'Gmail' " [severity]="'success'" class="mr-2" />
            <p-tag [value]=" '+91 mountainsaremagic@gmail.com ' " [severity]="'success'" class="mr-2" />

        </div>

    </div>
    <div class="d-flex flex-column flex-wrap justify-content-center align-items-center">
        <h3 class="col-12 col-md-9 mb-2 text-secondary text-bold">Fill This Form, We Will Take Care For The Rest</h3>
        <form [formGroup]="contactFrom" class="w-100 row  align-items-center  d-flex flex-column" (ngSubmit)="onSubmit()">
           <div class="d-flex align-items-center justify-content-center flex-column">
            @for (control of formData; track $index) {
                @switch (control.control_type) {
                @case ('text') {
                    <div class="col-12 col-md-9 mb-2">
                        <label for="disabledTextInput" class="form-label">{{control.control_label}}</label>
                        <input type="text" id="TextInput" class="form-control" [placeholder]="control.placeholder" [formControlName]="control.control_name">
                      </div>
                      @if(control.control_name.invalid && (control.control_name.dirty || control.control_name.touched)){
                        <div class="alert alert-danger">
                            @if(control.control_name.hasError('required')){
                                Name is required.
                            }
                     </div>
                      }
                      
                }
                @case ('number') {
                    <div class="col-12 col-md-9 mb-2">
                        <label for="disabledTextInput" class="form-label">{{control.control_label}}</label>
                        <input type="text" id="phone" class="form-control" [placeholder]="control.placeholder" [formControlName]="control.control_name">
                      </div>
                }
                @case ('textarea') {
                    <div class="col-12 col-md-9 mb-2">
                        <label for="exampleFormControlTextarea1" class="form-label">{{control.control_label}}</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [placeholder]="control.placeholder" [formControlName]="control.control_name"></textarea>
                      </div>
                }
                @case ('email') {
                    <div class="col-12 col-md-9 mb-2">
                        <label for="exampleFormControlInput1" class="form-label">{{control.control_label}}</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" [placeholder]="control.placeholder"  [formControlName]="control.control_name">
                      </div>
                }
                }
                }
           </div>
       <div class="d-flex justify-content-center">
        <button type="submit" class="col-6 col-md-4 mb-2 rounded submit-button"  >Submit</button>
       </div> 
        </form>
                   
       
    </div>
   </div>
    
</section>
<div class="card flex justify-content-center">
    <p-toast />
</div>