.submit-button {
    background: linear-gradient(45deg, chocolate, gray);
    padding: 8px;
    height: 50px;    

}
.container {
    padding: 8px;
}
.contact-us-header{
    color: var(--Cool-Gray-70, #50586A);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}