
/* Container for the image and overlay */
.image-container {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height as needed */
  }
  
  /* Style for the image */
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
  }
  
  /* Overlay style */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: larger;
  }
  
  /* Text styling */
  .text {
    color: white; /* Text color */
    font-size: 3rem; /* Adjust font size as needed */
    text-align: center;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px; /* Optional: rounded corners for the text box */
  
  }
  

/* Default styles for the accordion */
.accordion-item {
    border: none;
    border-radius: 10px;
  }
  
  /* Styling the accordion button when collapsed */
  .accordion-button.collapsed {
    background-color: #fff; /* Default background color when collapsed */
    border: none; /* No border when collapsed */
  }
  
  /* Styling the accordion button when expanded */
  .accordion-button:not(.collapsed) {
    background-color: #fff; /* Yellow background when expanded */
    color: black; /* Text color when expanded */
    border: 4px solid #E0E0E0/* Chocolate border when expanded */


  }
  
  /* Focus style for accordion button (whether expanded or collapsed) */
  .accordion-button:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px #E0E0E0 /* Chocolate-colored focus ring */
}
  
  /* Styling the accordion body when expanded */
//   .accordion-collapse.show {
//     border: 2px solid chocolate; /* Chocolate border around the expanded body */

//   }
  
  /* Optional: Add some padding or border-radius for a polished look */
  .accordion-body {
    border-radius: 0 0 5px 5px; /* Rounded corners for the bottom part */
  }
