@if(!loading){
<div class="row mx-auto package-container">
  <div class="flex top-row-contianer flex-wrap p-3">
    <div class="card col-md-6 border-0 left-top-galleria">
      <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }"
        [numVisible]="5">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width: 100%;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" />
          </div>
        </ng-template>
      </p-galleria>
    </div>
    <div class="col-md-6 border-0 right-top-highlights" id="description">
      <div class="title-wrapper mt-md-0 mt-sm-2">
        <span class="mt-0  pack-title d-flex justify-content-center align-items-center  font-semibold text-xl"
          [ngStyle]="{backgroundColor:'var(--highlight-bg)', color: 'var(--highlight-text-color)', borderRadius: 'var(--border-radius)', padding: '3rem'}">
          Solo Trip to Kashmir - Highlights</span>
      </div>
      <p-divider type="solid" />
      <div class="pack-description mt-4 secondary fw-large" >
        Escape the ordinary and embark on a solo adventure through the enchanting landscapes of Kashmir. Trek through lush meadows, marvel at towering peaks, and experience the serenity of pristine lakes. Immerse yourself in the region's rich culture, savor delicious local cuisine, and connect with friendly locals. Discover hidden gems, capture stunning photographs, and create lasting memories on this unforgettable journey of self-discovery..
      </div>
      <p-divider type="solid" />
      <div class="Destionation mt-4 d-flex flex-column">
       <div class=" mb-3 ">
        <p-tag 
        [value]="'Destionations Covered'" 
        [severity]="'warning'" 
        class="mr-2 mb-2 mt-0 font-semibold text-xl warning"
        />
       </div> 
       <div class="d-flex gap-2">
        @for(destination of destinations; track destination){
          <p-tag 
          [value]="destination.name" 
          [severity]="'success'" 
          class="mr-2"
          />          
        }
        </div>
      </div>
      <p-divider type="solid" />
      <div class="d-flex flex-row gap-4 align-items-center mt-4">
        <div class="d-flex justify-content-center align-items-center gap-1 flex-column">
          <i class="pi pi-calendar" style="font-size: 2rem"></i>
          <div class="mt-0 info font-semibold text-xl">
            <span>D - </span>
            <span>N</span>
          </div>
        </div>
        <div class="d-flex flex-column align-items-center">
          <i class="pi pi-users" style="font-size: 2rem ; color: 'var(--highlight-text-color)'"></i>
          <div class="mt-0 font-semibold text-xl" [ngStyle]="{color: 'var(--surface-ground-pink-400)'}">
            <span class="m-0">1</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 mx-auto col-md-6">
    <div class="card flex justify-content-center">
      <p-fieldset legend="Header" [toggleable]="true">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </p-fieldset>
    </div>
  </div>
</div>
}