
.package-container {
    margin-top: 80px;
    border:3px solid green;
}
.pack-title {
    height: 10px;
}
#description{
    background-color: white;
}

@media (max-width: 768px) {
    #description {
        background-color: none;
        padding: 4px;
    }
  }