.heading{
    font-weight: 600;
    font-size: 25px;
}
.single-pack{
    cursor:pointer;
}
.custom-scroll-class{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-heading{
    color: var(--Cool-Gray-80, #454B59);
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 120% */
}

.p-carousel {
    display: flex;
    align-items: center; /* Center align items vertically if needed */
}

.p-carousel .p-carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px; /* Add horizontal padding to create space */
}


@media (max-width: 768px) {
    .p-carousel .p-carousel-item {
        margin: 0 5px; /* Adjust margin for smaller screens */
    }
}
