<div class="d-flex justify-content-center flex-column mt-2 bg-white gap-3" >
  <p class="client-heading col-md-6 d-flex justify-content-center my-2 w-100 px-1 p-md-0">Places to visit in Kashmir</p>
  <p-carousel
    [value]="places" [numVisible]="3" [numScroll]="1" 
    [showNavigators]="false" [responsiveOptions]="responsiveOptions">
    <ng-template let-pack pTemplate="item" class="d-flex rounded justify-content-center border-4 border-primary">
      <div class="d-flex flex-column align-items-center justify-content-center gap-3 mx-2">
        <img [src]="pack.ImgUrl" class="card-img-top rounded" alt="{{ pack.name }}" style="object-fit: cover;" height="380" width="150">
        <div class="py-2 bg-green w-100 d-flex justify-content-center  ">
          <h5 class="text-primary fw-bold">{{ pack.name }}</h5>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
