<!-- home.component.html -->
<app-herosection></app-herosection>  <!-- Hero Section -->
<app-swipe-pages-component [inDestinationPage]="false"></app-swipe-pages-component>  <!-- Swipe Component -->
<app-places-to-visit></app-places-to-visit>  <!-- Places to Visit -->
<app-client-reviews></app-client-reviews>
<app-contact-us [inDestinationPage]="false"></app-contact-us>  <!-- Contact Us Section -->
<p-scrollTop 
    target="parent" 
    styleClass="custom-scrolltop" 
    [threshold]="100" 
    icon="pi pi-arrow-up" />