.bottom-custom {
  bottom: 0px; /* Move the image 3px below the bottom of its container */
  position: absolute;
  left: 0;
  z-index: 1; /* Ensures it is above the other image */
}


.position-relative {
  position: relative;
}

.bg-img {
  width: 100%;
  height: 450px; /* Adjust this if needed to control the height of the images */
  object-fit: cover;
}



.overlay-text {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the position to be exactly in the center */
  color: white; /* Change text color as needed */
  font-size: 2rem; /* Adjust the font size as needed */
  z-index: 2; /* Ensure text is above images */
  text-align: center; /* Center text alignment */
}


/* Make the content scrollable vertically */
.scrollable-content {
  max-height: 100vh; /* Adjust this based on the available space */
  overflow-y: auto;  /* Enable vertical scrolling */
}

/* Sticky Contact Us Component */
.sticky-right {
  position: sticky;
  top: 10px; /* Adjust the distance from the top */
  align-self: flex-start; /* Ensures the sticky element stays aligned */
  z-index: 100;
}
