.card {
   transition: all 0.2s ease-in-out;
   border-radius: 8px;
   box-shadow: --point-box-shadow;
   background: linear-gradient(180deg, #FFFFFF 10%, #F0F2F5 60%, #FFFFFF 90%);
 }
 
 .card:hover {
   cursor: pointer;
   box-shadow:  --point-shadow-hover;
   transform: scale(1.03);
   border-radius: 8px;
 }

 .card-img-top{
   height: 300px;
 }


.tour_price {
   background-color: #08ead3d6;
   position: relative;
   bottom: 40px;
   left: 0;
   padding: 3px 10px 2px 10px;
   color: #fff;
   font-weight: 700;
   font-size: 15px;
   -webkit-transition-duration: 0.2s;
   -moz-transition-duration: 0.2s;
   -o-transition-duration: 0.2s;
   transition-duration: 0.2s;

}
.badge{
   background-color: chocolate;
   position: absolute;
   top: 10px;
   right: 10px;
   z-index: 1;
   color: #fff;
   padding: 2px 8px;
   border-radius: 4px;
   font-size: 14px;
   line-height: 1.7rem;
   display: inline-block;
}
.highlighted{
   text-decoration: underline;
   margin-bottom: 2px;

}
.clickable{
   cursor: pointer;
}
 
 @media (min-width: 768px) { /* Bootstrap 'md' breakpoint */
   .w-85 {
     width: 85%;
   }
   .p-4{
      padding: 0px;
   }
   .card-img-top{
      height: 200px;
    }
 }