<section class="row mx-auto">
    <div class="d-flex flex-column  p-0">
        <div class="position-relative">
            <div class="d-flex flex-column p-0">
                <div class="position-relative">
                    <img src="../../../assets/abcbg.jpg" alt="banner" class="w-100  bg-img">
                    <div class="overlay-text d-flex flex-column gap-0 w-md-50">
                        <p class="p-0 fw-bold font-300 m-0">
                            About Us
                        </p>
    
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-8 p-2 mx-auto mt-2 wrapper">
        <div class="d-flex justify-content-center border-secondary
         flex-wrap align-items-center">
            <div>
                <img src="../../../assets/logo.png" alt="logo" height="150" width="300">
            </div>

        </div>
        <p-divider />
        @for (item of aboutUsData; track $index) {
        <div class="d-flex flex-column align-items-center mb-2 justify-content-center">
            <p-card header="{{item.title}}">
                <p class="m-0">
                    {{item.description}}
                </p>
            </p-card>
        </div>
        }

        @for (list of listData ; track $index) {
        <div class="card  mb-3">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center fw-bolder">{{list.title | titlecase}}</h5>
                <ul class="list-group list-group-flush">
                    @for (innerList of list.list; track $index) {
                    <div class="d-flex align-items-center justify-content-start flex-wrap">
                        <p-chip class="p-2 list-in" label="{{innerList.listTitle}}" />
                        <p class="card-text m-0 ">{{innerList.listDescription}}</p>
                    </div>
                    <p-divider />
                    }
                </ul>
            </div>
        </div>
        }

        @for (item of aboutFooter; track $index) {
        <div class="d-flex flex-column align-items-center mb-2 justify-content-center">
            <p-card header="{{item.title}}">
                <p class="m-0">
                    {{item.description}}
                </p>
            </p-card>
        </div>
        }
        <p-divider />

        <p class="text-center">Embark on a journey with MagicalMountains—where every adventure is a story waiting to
            unfold.

        </p>
    </div>

</section>