
  
  .bg-img {
    width: 100%;
    height: 450px; /* Adjust this if needed to control the height of the images */
    object-fit: cover;
  }
  
  
  
  .overlay-text {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to be exactly in the center */
    color: white; /* Change text color as needed */
    font-size: 2rem; /* Adjust the font size as needed */
    z-index: 2; /* Ensure text is above images */
    text-align: center; /* Center text alignment */
  }
  .wrapper{
   color: #4b5563;
  }
  
  .list-in{
    font-size: xx-large;

  }