.section-footer{
    background: #101319;
    padding-top: 20px;
    border-top: 1px solid rgba(202, 202, 202, .29);
    letter-spacing: normal;
    line-height: normal;

}
    .no-underline{
    text-decoration: none;
    }


    .top-data {
        align-items: center;
        ul li{
            list-style: none;
            cursor: pointer;
        }
    }

    @media (max-width: 768px) { 
        .top-data{
            flex-direction: column;
            align-items: flex-start;

            .list-footer{
                flex-direction: column;
            }
        } 
        
        
    }