.section-footer{
    background: #fff;
    padding-top: 20px;
    border-top: 1px solid rgba(202, 202, 202, .29);
    letter-spacing: normal;
    line-height: normal;

}
    .no-underline{
    text-decoration: none;
    }