<section id="footer" class="section-footer my-4 rounded mx-auto">
  <div class="d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-around p-4 flex-wrap row">
      <div class="col-md-2 bg-white">
        <button class="btn">
          <img src="../../../assets/logo.png" width="90" height="50" alt="logo">
        </button>
      </div>
      <div class="text-primary col-md-4">
        <div class="nav-items">
          <ul class="d-flex flex-column justify-content-between m-0 gap-2 list-style-none cursor-pointer">
            <a href="#home" class="text-decoration-none">
              <li>Home</li>
            </a>
            <a href="#destination" class="text-decoration-none">
              <li>Destinations</li>
            </a>
            <a href="#packages" class="text-decoration-none">
              <li>Popular Plans</li>
            </a>
            <a href="#about" class="text-decoration-none">
              <li>About Us</li>
            </a>
            <a href="#footer" class="text-decoration-none">
              <li>Contact Us</li>
            </a>
          </ul>
        </div>
      </div>
      <div class="adress col-md-4 d-flex flex-column gap-2 text-secondary">
        <p class="m-0 text-secondary">Need help with tour packages?</p>
        <div class="d-flex flex-column">
          <span> <i class="fa-solid fa-phone"> </i> <a href="tel:+1234567890" class="no-underline ml-3">Call +1 (234)
              567-890</a></span>
          <span> <i class="fa-solid fa-envelope "></i><a href="mailto:example@example.com"
              class="no-underline ml-3">info.mountainsarecalling</a></span>
        </div>
      </div>
      <div class="col-md-2">
        <p class="m-0 my-2 ">Follow</p>
        <div class="d-flex gap-2">
          <div> <i class="fa-brands fa-facebook"></i></div>
          <div> <i class="fa-brands fa-instagram"></i></div>
          <div><i class="fa-brands fa-twitter"></i></div>
        </div>
      </div>
    </div>

    <div class="bg-white p-4 text-secondary">
      <footer>&copy; Copyright 2024 Mountains are Calling - Designed and Developed by <a href="https://reyaz.co.in/" class="no-underline">
          Naseer Ahmad </a></footer>
    </div>
  </div>
</section>