.review-container {
    position: relative;
    height: 250px;
    overflow: hidden;
}
.main-wrapper{
    background-color:  #dff3f7;
}

[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  height: 300px;
  max-height: 100vh;
}  