<section class="d-flex main-wrapper rounded mx-auto w-85 client-review-wrapper justify-content-center align-items-center p-4 flex-column">
     <div>
        <p class="text-secondary fw-bolder font-100">
            What Clients Say
            Read testimonials from our satisfied clients
        </p>
    </div>

    <div class="keen-slider d-flex justify-content-center overflow-hidden align-items-center" #sliderRef>
      <div
        class="keen-slider__slide number-slide1 overflow-hidden"
        style="width: 150px; max-width: 150px"
      >
        1
      </div>
      <div
        class="keen-slider__slide number-slide2 overflow-hidden"
        style="min-width: 100px; max-width: 100px"
      >
        2
      </div>
      <div
        class="keen-slider__slide number-slide3 overflow-hidden"
        style="min-width: 200px; max-width: 200px"
      >
        3
      </div>
      <div
        class="keen-slider__slide number-slide4 overflow-hidden"
        style="min-width: 500px; max-width: 500px"
      >
        4
      </div>
      <div
        class="keen-slider__slide number-slide5 overflow-hidden"
        style="min-width: 150px; max-width: 150px"
      >
        5
      </div>
      <div
        class="keen-slider__slide number-slide6 overflow-hidden"
        style="width: 75px; max-width: 75px"
      >
        6
      </div>
    </div>
    
</section> 




  